asgiref==3.4.1
autopep8==1.5.7
bcrypt==3.2.0
cffi==1.14.6
Django==3.2.5
django-cors-headers==3.7.0
mysqlclient==2.0.3
pi==0.1.2
pycodestyle==2.7.0
pycparser==2.20
PyJWT==2.1.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
