<header id="header">
    <!-- my page, sign in, sign up       -->
    <div id="header__authentication">
        <a href="#" class="auth">My page</a>
        <a href="#" class="auth">Sign in</a>
        <spanp class="auth"> / </spanp>
        <a href="#" class="auth">Sign up</a>
    </div>
    <div id="header__search-play">
        <!-- page name, logo           -->
        <section id="search-play__logo">
            <h4 id="logo__page-name">페이지 이름</h4>
            <p>로고 대용</p>
<!--                <img src="" alt="main logo">-->
        </section>
        <section id="search-play__search-method">
            <!-- search play-->
            <div id="search-method__menus">
                <a href="#" class="menu">연극</a>
                <span class="menu">/</span>
                <a href="#" class="menu">극단</a>
            </div>
            <form action="" id="search-method__search-pane">
                <input type="text" class="search" id="search-pane__input"/>
                <button type="submit" class="search" id="search-pane__btn">검색</button>
            </form>
        </section>
    </div>
</header>