<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- static 파일 load -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 부트스트랩 라이브러리는 써도 되는지 확실치 않아 사용하지 않았습니다 -->
        <!-- <link rel="stylesheet" href="{% static 'css/initStyle.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/listpage.css' %}">

        <title>RaonAir</title>

    </head>
    <body>
        {% include "navbar.html" %}

        <div class="container">
            <!-- 필터는 라디오 버튼인지 체크박스인지 -->
            <div class="filter">
                <input class="filterRadio" type="radio" id="filterAll" name="filtering" value="all" checked><label for="filterAll"class="filterLabel">가나다순</label>
                <input class="filterRadio" type="radio" id="filterAct" name="filtering" value="act"><label for="filterAct" class="filterLabel">인기순</label>
                <input class="filterRadio" type="radio" id="filterActer" name="filtering" value="acter"><label for="filterActer" class="filterLabel">연극보유순</label>
                <input class="filterRadio" type="radio" id="filterTheater" name="filtering" value="theater"><label for="filterTheater" class="filterLabel">종료임박순</label>
            </div>
            <hr>

            <!-- <div class="click">
                <a class="click-spell" href="/">
                </a>
                <a class="click-popularity" href="/">
                </a>
                <a class="click-number" href="/">
                </a>
                <a class="click-closer" href="/">
                </a>
            </div> -->

            <














''


            </div>

        </div>
    </body>
</html>