
#center {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    top: 0%;
    width: 1200px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(238, 238, 238);  
}

.actname {
    text-align: center;
    margin-bottom: 10px;
}

#container {
    width:1200px;
    background-color: white;
}

#grid {
    display: grid;
    grid-template-columns: 330px 120px 350px;
}

h4 {
    font-weight: lighter;
}

.place {
    text-align: center;
    padding-top: 10px;
}


.review-name-date {
    text-align: right;
    margin-right: 30px;
    align-items: flex-end;
}

hr {
    width:80%;
    border: solid 1px rgb(231, 231, 231);
    margin-bottom:s 1.5rem;
}

h3 {
    padding-top : 20px;
}

.intro {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.person {
    margin-right: 10px;
}

.box {
    width: 800px;
    height: 700px;
    border-radius: 10px;
    border: 3px solid rgb(194, 191, 191);
    overflow-x: auto;
}

.review {
    width: 700px;
    margin-top: 0;
    margin-left: 30px;
    line-height: 35px;
}
.star {
    height: 30px;
    margin-left: 30px;
}

.reviewbox {
    width: 750px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 20px;
    border: solid 2px rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
}

.reviewbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.person__photo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 16px rgb(80, 78, 78);
    margin: 10px;
    margin-top: 30px;
}

.person_name {
    margin-bottom: 0px;
}