#header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

a {
    text-decoration: none;
    color: black;
}

    /*id = header__authentication*/
#header__authentication {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.auth {
    margin-right: 0.5vw;
}

/*id = header__search-play*/
#header__search-play {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    
}

    /*id = search-play__search-menus*/
#search-play__logo {
    /* width: 15vw;
    height: 7vh; */
    margin-right: 10vw;
    padding: 1em;
    box-shadow: 10px 5px 5px lightgrey;
    border: 2px solid lightgrey;
    /*임시 영역 표시용*/
    /* background-color: lightgrey; */
}

#search-play__logo {
    height: 8vh;
    width: 13vw;
}

#logo__page-name, #logo__logo{
    font-size: 1rem;
}

    /*id = search-play__search-method*/
#search-play__search-method {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    /*임시 영역 표시용*/
    /* background-color: lightgrey; */
    /* background-clip: content-box; */
    /* box-shadow: inset 0 0 0 0.5em lightgrey; */
    box-shadow: 10px 5px 5px lightgrey;
    border: 2px solid lightgrey;
}

#search-method__search-pane, #search-method__menus {
    align-self: center;
}
        /*id = search-method__menus*/
#search-method__menus {
    margin-right: 2vw;

    /*임시 영역 표시*/
}

.menu {
    margin-right: 0.5vw;
    font-size: 1.3em;
}

        /*id = search-method__search-pane*/

#search-pane__input {
    width: 20vw;
    height: 5vh;
    font-size: 1.5em;
}

#search-pane__btn {
    align-self: center;
    height: 6vh;
    width: 4vw;
    font-size: 1em;
}
