
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.click {
    display: flex;
    flex-direction: row;
}

.click-detail {

}

.click-spell {

}

.click-popularity {
    
}

.click-popularity {
    
}

.click-number {
    
}

.click-closer {
    
}

.list-container {
    display: flex;
}

.troupe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.list_tip {
    margin: 20px;
}

.list_name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -10px;
}
