
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 30px auto;
    background-color: rgb(245, 245, 245);
    top: 0%;
    width: 1200px;
    height: 100%;
    border: solid 1px rgb(204, 204, 204);
}

.click {
    display: flex;
    flex-direction: row;
}

.list-container {
    display: flex;
}

.filter {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.filter label:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.filterRadio {
    display: none;
}

input[type="radio"][name="filtering"]:checked + .filterLabel {
    background-color: rgb(0, 96, 221);
    color: rgb(240, 240, 240);
}

.filterLabel {
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

/* rmreksdlalwl */
.troupe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.list_tip {
    display: grid;
    justify-items: center;;
}

.list_name {
    text-align: center; 
    font-weight: bold;
}

.list_tip:hover {
    cursor: pointer;
}

.troupe_img_box:hover > .troupe_img {
    transform: scale(1.07);
    transition: 0.3s;
}

.troupe_img_box {
    padding: -30px;
    object-fit: contain;   
}

.troupe_img {
    margin-top: 30px;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid rgb(194, 191, 191);
    background-color: white;
}