
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    top: 0%;
    width: 1200px;
    border: solid 1px rgb(204, 204, 204);
}
.click {
    display: flex;
    flex-direction: row;
}

.click-detail {

}

.click-spell {

}

.click-popularity {
    
}

.click-popularity {
    
}

.click-number {
    
}

.click-closer {
    
}

.list-container {
    display: flex;
}

.troupe {
    margin: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);;

}
.list_tip {
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}

.list_name {
    text-align: center;
    margin-top: 5px;
}

.list_tip:hover {
    cursor: pointer;
}

.troupe_img_box:hover > .troupe_img {
    transform: scale(1.05);
    transition: 0.3s;
}

.troupe_img {
    object-fit: contain;
    border-radius: 8px;
    border: 2px solid rgb(206, 205, 205);
    background-color: white;
}