hr {
    width:80%;
    border: solid 1px rgb(231, 231, 231);
    margin-bottom: 1.5rem;
}
.containner {
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    top: 0%;
    width: 1200px;
    padding-top: 30px;
    border: solid 1px rgb(238, 238, 238);
}
.content {
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    padding: 20px 40px;
}
.containner h1 {
    text-align: center;
}
.contentTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentInner {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.themePoster{
    position: static; 
}
.imgInner {
    /* width: 250px;
    height: 350px; */
}
.imgInner:hover {
    cursor: pointer;
}
.imgInner:hover > .actImg { transform: scale(1.05); transition: 0.3s; }

.actImg {
    width: 240px;
    height: 340px;
    object-fit: cover;
    border-radius: 5px;
    border: solid 1px rgb(231, 231, 231);
}
.poster {
    margin: 20px 10px
}
.poster p {
    font-weight: bold;
}
.posterTip{
    position: relative;
    margin:auto;
    display: inline-block;
    color:beige;
    font-weight: bold;
}
.posterTip-text{
    top: 10px;
    display: none;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    color: black;
    background: rgb(254, 255, 246);
}
.posterTip:hover .posterTip-text{
    display:block;
}
.posterBtn {
    /* text-align: center; */
}

/* searchPage.html */
.contentText {
    justify-content: start;
    display: flex;
    align-items: center;
}
.contentText a:hover {
    cursor: pointer;
    font-weight: bold;
}
.filter {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}
.filter label:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}
.filterRadio {
    display: none;
}
.filterRadio:checked + .filterLabel {
    background-color: rgb(0, 96, 221);
    color: rgb(240, 240, 240);
}
.filterLabel {
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.actInner, .actorInner {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.actorImg {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px rgb(231, 231, 231);
    box-shadow: 0 0 12px rgb(221,221,221);
    margin: 0 30px;
}
.theaterInner {
    padding: 20px 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.theaterList {
    width: 210px;
    /* border: solid 1px black; */
}
.theaterList p {
    font-weight: bold;
    margin-top: 0px;
}
.theaterImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border: solid 1px rgb(231, 231, 231);
}
.imgT {
    width: 150px;
    height: 150px;
}
.detailBtn {
    border: 0;
    outline: 0;
    font-weight: bold;
    background-color: inherit;
    color: rgb(99, 99, 99);
    padding-bottom: 5px;
    border-bottom: solid 5px rgb(255, 255, 255);
}
.detailBtn:hover {
    cursor: pointer;
    border-bottom: solid 5px rgb(0, 96, 221);
    transition: 0.5s;
}